# Práctica Profesionalizante I - TSCDIA - 2021
### Conexión a BBDD desde Python - MySql

### Realizar la conexion a la BBDD employees

In [ ]:
import pymysql
import pandas as pd

In [ ]:
try:
	conexion = pymysql.connect(host='localhost',
                             user='root',
                             password='********',
                             db='employees')
	print("Conexión correcta")
except (pymysql.err.OperationalError, pymysql.err.InternalError) as e:
	print("Ocurrió un error al conectar: ", e)

### Obtenemos los datos de la tabla employees

In [ ]:
try:
    conexion = pymysql.connect(host='localhost',
                             user='root',
                             password='********',
                             db='employees')
    try:
        with conexion.cursor() as cursor:
            # En este caso no necesitamos limpiar ningún dato
            cursor.execute("SELECT * FROM employees;")
 
            # Con fetchall traemos todas las filas
            employees = cursor.fetchall()
 
            # Recorrer e imprimir
            for emp in employees:
                print(emp)
    finally:
        conexion.close()
    
except (pymysql.err.OperationalError, pymysql.err.InternalError) as e:
    print("Ocurrió un error al conectar: ", e)

### Obtenemos los datos de la tabla employees que sean mujeres

In [ ]:
try:
    conexion = pymysql.connect(host='localhost',
                             user='root',
                             password='********',
                             db='employees')
    try:
        with conexion.cursor() as cursor:
            consulta = "SELECT emp_no, last_name FROM employees WHERE gender ='F';"
            cursor.execute(consulta)
 
            # Con fetchall traemos todas las filas
            employees = cursor.fetchall()
 
            # Recorrer e imprimir
            for emp in employees:
                print(emp)
    finally:
        conexion.close()
    
except (pymysql.err.OperationalError, pymysql.err.InternalError) as e:
    print("Ocurrió un error al conectar: ", e)

### Insertamos un valor en la tabla employees

In [ ]:

try:
    conexion = pymysql.connect(host='localhost',
                             user='root',
                             password='********',
                             db='employees')
    try:
        with conexion.cursor() as cursor:
            # En este caso no necesitamos limpiar ningún dato
            # Para probar, agregar al final de a sentencia SQL: LIMIT 100
            cursor.execute("SELECT * FROM employees;")
 
            # Con fetchall traemos todas las filas
            employees = cursor.fetchall()
 
            # Recorrer e imprimir
            for emp in employees:
                print(emp)
    finally:
        conexion.close()
    
except (pymysql.err.OperationalError, pymysql.err.InternalError) as e:
    print("Ocurrió un error al conectar: ", e)

In [ ]:
conexion = pymysql.connect(host='localhost',
                             user='root',
                             password='********',
                             db='employees')
cursor= conexion.cursor() 
cantidad_total = cursor.execute("SELECT * FROM employees")  
print('Total de empleados ', cantidad_total)
conexion.close()

## Ejercicio

### 1- Cargar en un dataframa los datos de las consultas.

In [ ]:
conexion = pymysql.connect(host='localhost',
                             user='root',
                             password='********',
                             db='employees')
cursor= conexion.cursor() 

emp = "SELECT * FROM employees"
df_emp = pd.read_sql_query(emp,conexion)


mujeres = "SELECT * FROM employees WHERE gender ='F';"
df_mujeres = pd.read_sql_query(mujeres,conexion)

conexion.close()

In [ ]:
df.head(10)

In [ ]:
df_mujeres.head(10)

## 1er Ejercicio
#### Obtener los datos completos de los empleados.

In [ ]:
try:
    conexion = pymysql.connect(host='localhost',
                             user='root',
                             password='********',
                             db='employees')
    try:
        with conexion.cursor() as cursor:
            # En este caso no necesitamos limpiar ningún dato
            cursor.execute("SELECT * FROM employees;")
 
            # Con fetchall traemos todas las filas
            employees = cursor.fetchall()
 
            # Recorrer e imprimir
            for emp in employees:
                print(emp)
    finally:
        conexion.close()
    
except (pymysql.err.OperationalError, pymysql.err.InternalError) as e:
    print("Ocurrió un error al conectar: ", e)

### 2do Ejercicio
#### Obtener los datos completos de los departamentos.

In [ ]:
try:
    conexion = pymysql.connect(host='localhost',
                             user='root',
                             password='********',
                             db='employees')
    try:
        with conexion.cursor() as cursor:
            # En este caso no necesitamos limpiar ningún dato
            cursor.execute("SELECT * FROM departments;")
 
            # Con fetchall traemos todas las filas
            deptos = cursor.fetchall()
 
            # Recorrer e imprimir
            for dept in deptos:
                print(dept)
    finally:
        conexion.close()
    
except (pymysql.err.OperationalError, pymysql.err.InternalError) as e:
    print("Ocurrió un error al conectar: ", e)

### 3er Ejercicio
### Obtener la cantidad de empleados de sexo femnino.

In [ ]:
conexion = pymysql.connect(host='localhost',
                             user='root',
                             password='********',
                             db='employees')
cursor= conexion.cursor()
cursor= conexion.cursor() 
cantidad_mujeres = cursor.execute("SELECT * FROM employees WHERE gender ='F';")   
print('El total de  mujeres es: ', cantidad_mujeres)

conexion.close()

### 4to Ejercicio.
### Obtener los empleados que son o han sido "staff". Recordar que es una consulta multi tablas

In [ ]:
conexion = pymysql.connect(host='localhost',
                             user='root',
                             password='********',
                             db='employees')
cursor= conexion.cursor() 
cantidad_total = cursor.execute("SELECT * FROM employees")  
print('Total de empleados es: ', cantidad_total)

conexion.close()

### 5to Ejercicio
### Agregar el departamento Cienca de Datos.

In [ ]:
try:
    conexion = pymysql.connect(host='localhost',
                             user='root',
                             password='********',
                             db='employees')
    try:
        with conexion.cursor() as cursor:
            consulta = "INSERT INTO departments(dept_no, dept_name) VALUES ('d010', 'Data Science');"
            cursor.execute(consulta)
        conexion.commit()
        print('Insercion correcta')
    except:
        print('No se pudo realizar la consulta')
except (pymysql.err.OperationalError, pymysql.err.InternalError) as e:
    print("Ocurrió un error al conectar: ", e)

### 6to Ejercicio
### Agregar el empleado "Pepe" y hacerlo jefe ("manager") del departamento Cienca de Datos.

In [ ]:
try:
    conexion = pymysql.connect(host='localhost',
                             user='root',
                             password='********',
                             db='employees')
    try:
        with conexion.cursor() as cursor:
            consulta = "INSERT INTO employees(emp_no, birth_date, first_name, last_name, gender, hire_date) VALUES (666625, '1975-09-03','Pepe', 'Sanchez','M','2021-05-05');"
            cursor.execute(consulta)
            consulta2 = "INSERT INTO dept_manager(emp_no, dept_no, from_date, to_date) VALUES (666625, 'd010', '2021-05-05' ,'2021-11-01');"
            cursor.execute(consulta2)
        conexion.commit()
    
        print('Insercion correcta')

    except:
        print('No se pudo realizar la consulta')
except (pymysql.err.OperationalError, pymysql.err.InternalError) as e:
    print("Ocurrió un error al conectar: ", e)

### 7mo Ejercicio
### Borrar el empleado "Pepe".

In [ ]:
try:
    conexion = pymysql.connect(host='localhost',
                             user='root',
                             password='********',
                             db='employees')
    try:
        with conexion.cursor() as cursor:
            consulta = "DELETE FROM employees WHERE first_name = 'Pepe';"
            cursor.execute(consulta)
        
        conexion.commit()
        print('Borrado correcto')

    except:
        print('No se pudo realizar la consulta')
except (pymysql.err.OperationalError, pymysql.err.InternalError) as e:
    print("Ocurrió un error al conectar: ", e)