In [5]:
# Importamos librerias necesarias
import investpy
import pandas as pd

# Averiguamos en que mercados podemos usar Investpy
investpy.get_stock_countries()

['argentina',
 'brazil',
 'canada',
 'chile',
 'colombia',
 'costa rica',
 'jamaica',
 'mexico',
 'peru',
 'united states',
 'venezuela',
 'austria',
 'belgium',
 'bosnia',
 'bulgaria',
 'croatia',
 'cyprus',
 'czech republic',
 'denmark',
 'finland',
 'france',
 'germany',
 'greece',
 'hungary',
 'iceland',
 'ireland',
 'italy',
 'luxembourg',
 'malta',
 'montenegro',
 'netherlands',
 'norway',
 'poland',
 'portugal',
 'romania',
 'russia',
 'serbia',
 'slovakia',
 'slovenia',
 'spain',
 'sweden',
 'switzerland',
 'turkey',
 'ukraine',
 'united kingdom',
 'australia',
 'bangladesh',
 'china',
 'hong kong',
 'india',
 'indonesia',
 'japan',
 'kazakhstan',
 'malaysia',
 'mongolia',
 'new zealand',
 'pakistan',
 'philippines',
 'singapore',
 'south korea',
 'sri lanka',
 'taiwan',
 'thailand',
 'vietnam',
 'bahrain',
 'egypt',
 'iraq',
 'israel',
 'jordan',
 'kuwait',
 'lebanon',
 'oman',
 'palestine',
 'qatar',
 'saudi arabia',
 'dubai',
 'botswana',
 'ivory coast',
 'kenya',
 'malawi',
 'mauritius',
 'morocco',
 'namibia',
 'nigeria',
 'rwanda',
 'south africa',
 'tanzania',
 'tunisia',
 'uganda',
 'zambia',
 'zimbabwe']

In [10]:
# Obtenemos un listado de las acciones del mercado que investigamos
investpy.stocks.get_stocks(country='argentina')

,country,name,full_name,isin,currency,symbol
0,argentina,Tenaris,Tenaris,LU0156801721,ARS,TS
1,argentina,PETROBRAS ON,Petroleo Brasileiro - Petrobras,BRPETRACNOR9,ARS,APBR
2,argentina,Grupo Financiero Galicia,Grupo Financiero Galicia B,ARP495251018,ARS,GGAL
3,argentina,Ternium Argentina,Ternium Argentina SA,ARSIDE010029,ARS,TXAR
4,argentina,Pampa Energia,Pampa Energia SA,ARP432631215,ARS,PAMP
...,...,...,...,...,...,...
145,argentina,Arcos Dorados,Arcos Dorados Holdings Inc,ARBCOM460135,ARS,ARCO
146,argentina,Alibaba Cedear,Alibaba Group Holding Ltd,ARBCOM4601T8,USD,BABA
147,argentina,Gerdau DRC,Gerdau SA,ARBCOM460200,USD,GGB
148,argentina,BRF,BRF SA,ARBCOM460218,USD,BRFS
149,argentina,Ternium Argentina,Ternium Argentina SA,ARBCOM4602B4,ARS,SID

In [13]:
# Seleccionamos YPF
investpy.get_stock_historical_data(stock='ypfd',
                                        country='argentina',
                                        from_date='01/09/2021',
                                        to_date='01/10/2021')

               Open     High     Low   Close  Volume Currency
Date
2021-09-01   900.05   921.00  884.00  884.00  256452      ARS
2021-09-02   892.00   905.00  880.00  891.35  118742      ARS
2021-09-03   870.05   889.00  865.00  872.90   94057      ARS
2021-09-06   872.00   878.00  859.00  872.40   37650      ARS
2021-09-07   880.55   947.00  880.55  941.00  320402      ARS
2021-09-08   930.10   938.65  900.00  919.00  155716      ARS
2021-09-09   940.00   957.95  917.30  942.00  241611      ARS
2021-09-10   941.00   941.95  915.30  932.00  161847      ARS
2021-09-13  1001.00  1038.00  952.55  965.00  494832      ARS
2021-09-14   967.95   970.50  930.00  949.00  145351      ARS
2021-09-15   961.90   980.00  930.40  952.00  147702      ARS
2021-09-16   927.95   971.00  915.00  960.50  133080      ARS
2021-09-17   947.05   950.85  921.10  932.95  182477      ARS
2021-09-20   893.95   893.95  866.00  884.00  162008      ARS
2021-09-21   879.95   890.00  852.00  872.00  136814      ARS
2021-09-22   891.05   900.00  866.00  874.00  136324      ARS
2021-09-23   876.05   888.55  860.00  870.00  102615      ARS
2021-09-24   865.10   880.00  852.05  863.90   70391      ARS
2021-09-27   876.10   902.00  876.10  897.00  132113      ARS
2021-09-28   901.00   915.00  883.10  907.90   78300      ARS
2021-09-29   910.00   912.00  890.00  893.00  117175      ARS
2021-09-30   894.00   927.00  894.00  913.10  145665      ARS
2021-10-01   924.95   924.95  900.00  915.00   83234      ARS

In [15]:
# Seleccionamos Mercado libre
investpy.get_stock_historical_data(stock='MELI',
                                        country='argentina',
                                        from_date='01/09/2021',
                                        to_date='01/10/2021')

              Open    High     Low   Close  Volume Currency
Date
2021-09-01  5571.0  5649.5  5559.0  5602.5   18698      ARS
2021-09-02  5630.0  5826.0  5630.0  5710.0   18313      ARS
2021-09-03  5720.0  5840.0  5720.0  5750.0    9603      ARS
2021-09-06  5734.0  5770.0  5620.5  5767.5    9728      ARS
2021-09-07  5760.0  5834.0  5657.5  5761.0   18650      ARS
2021-09-08  5700.0  5780.0  5576.5  5660.0   19066      ARS
2021-09-09  5660.0  5746.5  5630.0  5690.0   21377      ARS
2021-09-10  5720.5  5795.0  5613.5  5640.0   12232      ARS
2021-09-13  5598.0  5598.0  5302.5  5530.0   19657      ARS
2021-09-14  5511.0  5578.5  5450.0  5524.0   12723      ARS
2021-09-15  5527.0  5670.0  5459.5  5648.0   12659      ARS
2021-09-16  5600.0  5707.0  5540.0  5670.0    8904      ARS
2021-09-17  5670.0  5735.0  5667.5  5672.0   12422      ARS
2021-09-20  5600.0  5679.0  5449.5  5517.0   19644      ARS
2021-09-21  5550.5  5749.5  5550.5  5739.0   20804      ARS
2021-09-22  5727.0  5930.0  5622.5  5920.0   13795      ARS
2021-09-23  5938.0  5999.5  5865.0  5974.0   10328      ARS
2021-09-24  5883.0  6000.0  5787.0  6000.0   16650      ARS
2021-09-27  5830.0  5830.0  5651.0  5723.0   24664      ARS
2021-09-28  5578.0  5578.0  5380.5  5478.5   36007      ARS
2021-09-29  5525.0  5580.0  5340.0  5410.0   21229      ARS
2021-09-30  5388.5  5495.0  5340.0  5385.5   17907      ARS
2021-10-01  5385.0  5421.5  5289.5  5385.0   19947      ARS