In [1]:
# importamos las librerias necesarias
import pandas as pd

In [24]:
# Cargamos el archivo csv a un dataframe
df=pd.read_csv('acciones_bma.csv')

# Cambio ',' por '.' para poder convertir los datos a tipo float
df['Var.'] = df['Var.'].apply(lambda x: x.replace(',','.'))

# Convierte los datos a tipo float
df['Var.'] = df['Var.'].astype(float)

print(df.sort_values(by=['Var.']))

    Unnamed: 0        Nombre    Precio  Var.      Max.      Min.  \
32          32       SOLARIA   13,6750 -5.17   14,5800   13,5700
19          19           IAG    2,0800 -3.39    2,1780    2,0500
25          25  MELIA HOTELS    6,4300 -3.16    6,7160    6,4000
18          18  GRIFOLS CL.A   21,0800 -2.95   21,8100   20,6700
20          20     IBERDROLA    8,6840 -2.80    8,9960    8,6840
15          15        ENDESA   17,4200 -2.46   18,0000   17,4200
26          26        MERLIN    8,8720 -1.71    9,2580    8,8720
13          13  CIE AUTOMOT.   21,7800 -1.45   22,2000   21,5600
5            5       AMADEUS   56,8800 -1.32   58,2200   56,2600
31          31  SIEMENS GAME   22,0200 -1.26   22,6900   21,8300
21          21       INDITEX   31,8200 -1.15   32,6300   31,8200
34          34      VISCOFAN   56,5500 -1.14   57,7500   56,5000
1            1      ACERINOX   11,0900 -1.11   11,3850   11,0500
16          16     FERROVIAL   25,2300 -1.06   25,9000   25,0400
0            0       ACCIONA  143,2000 -0.90  147,2000  143,1000
33          33    TELEFONICA    4,0470 -0.87    4,1145    4,0385
11          11     CAIXABANK    2,6840 -0.81    2,7260    2,6680
27          27       NATURGY   21,7500 -0.73   21,9800   21,7300
2            2           ACS   23,4500 -0.72   23,9800   23,3600
7            7   B.SANTANDER    3,1365 -0.63    3,1940    3,1210
23          23  INM.COLONIAL    8,3800 -0.59    8,5900    8,3800
10          10          BBVA    5,7170 -0.44    5,8120    5,7000
24          24        MAPFRE    1,8850 -0.37    1,9140    1,8810
8            8   BA.SABADELL    0,7256 -0.14    0,7434    0,7118
28          28    PHARMA MAR   74,4800  0.11   76,9000   74,0800
9            9     BANKINTER    5,0680  0.12    5,1140    5,0380
14          14        ENAGAS   19,2050  0.18   19,3500   19,1500
29          29        R.E.C.   17,3100  0.23   17,3950   17,2450
3            3          AENA  149,3000  0.27  150,3000  145,9500
12          12       CELLNEX   53,3000  0.45   54,2200   53,0200
30          30        REPSOL   11,2980  0.46   11,3800   11,1260
4            4      ALMIRALL   13,7200  1.03   13,7700   13,5900
17          17       FLUIDRA   34,4500  1.32   34,6000   34,1000
22          22       INDRA A    9,2800  1.37    9,4500    9,2200
6            6   ARCELORMIT.   26,4250  2.11   26,5500   26,0300

                         Fecha
32  2021-09-30 22:57:58.448009
19  2021-09-30 22:57:58.399085
25  2021-09-30 22:57:58.424011
18  2021-09-30 22:57:58.396086
20  2021-09-30 22:57:58.401629
15  2021-09-30 22:57:58.384082
26  2021-09-30 22:57:58.426700
13  2021-09-30 22:57:58.378542
5   2021-09-30 22:57:58.345724
31  2021-09-30 22:57:58.445950
21  2021-09-30 22:57:58.404683
34  2021-09-30 22:57:58.454861
1   2021-09-30 22:57:58.330019
16  2021-09-30 22:57:58.388084
0   2021-09-30 22:57:58.323477
33  2021-09-30 22:57:58.450994
11  2021-09-30 22:57:58.370480
27  2021-09-30 22:57:58.430948
2   2021-09-30 22:57:58.332621
7   2021-09-30 22:57:58.351726
23  2021-09-30 22:57:58.413008
10  2021-09-30 22:57:58.366481
24  2021-09-30 22:57:58.420010
8   2021-09-30 22:57:58.358816
28  2021-09-30 22:57:58.434948
9   2021-09-30 22:57:58.363477
14  2021-09-30 22:57:58.380471
29  2021-09-30 22:57:58.437949
3   2021-09-30 22:57:58.338722
12  2021-09-30 22:57:58.375480
30  2021-09-30 22:57:58.442951
4   2021-09-30 22:57:58.342724
17  2021-09-30 22:57:58.393084
22  2021-09-30 22:57:58.410008
6   2021-09-30 22:57:58.348738

In [21]:
# Ordenamos el dataframe segun la columna "Var." y guardamos las dos variaciones minimas
df_min=df.sort_values(by=['Var.']).head(2)
df_min

,Unnamed: 0,Nombre,Precio,Var.,Max.,Min.,Fecha
32,32,SOLARIA,"13,6750",-5.17,"14,5800","13,5700",2021-09-30 22:57:58.448009
19,19,IAG,"2,0800",-3.39,"2,1780","2,0500",2021-09-30 22:57:58.399085

In [23]:
# Ordenamos el dataframe segun la columna "Var." y guardamos las dos variaciones maximas

df_max=df.sort_values(by=['Var.']).tail(2)

df_max

,Unnamed: 0,Nombre,Precio,Var.,Max.,Min.,Fecha
22,22,INDRA A,"9,2800",1.37,"9,4500","9,2200",2021-09-30 22:57:58.410008
6,6,ARCELORMIT.,"26,4250",2.11,"26,5500","26,0300",2021-09-30 22:57:58.348738

In [25]:
# Ya sólo nos queda guardar los datos para usar en el futuro.
df_max.to_csv('bma_max.csv')
df_min.to_csv('bma_min.csv')