In [1]:
# importamos las librerias necesarias
import pandas as pd

In [2]:
# Cargamos el archivo csv a un dataframe
df=pd.read_csv('acciones_bma_01102021.csv')

In [3]:
# Ordenamos el dataframe segun la columna "Var." y guardamos las dos variaciones minimas
df_min_01102021=df.sort_values(by=['Var.']).head(2)
df_min_01102021

KeyError: 'Var.'

In [ ]:
# Ordenamos el dataframe segun la columna "Var." y guardamos las dos variaciones maximas

df_max_01102021=df.sort_values(by=['Var.']).tail(2)

df_max_01102021

,Unnamed: 0,Nombre,Precio,Var.,Max.,Min.,Fecha
22,22,INDRA A,"9,2800","1,37","9,4500","9,2200",2021-09-30 22:57:58.410008
6,6,ARCELORMIT.,"26,4250","2,11","26,5500","26,0300",2021-09-30 22:57:58.348738

In [ ]:
# Ya s√≥lo nos queda guardar los datos para usar en el futuro.
df_max.to_csv('bma_max_01102021.csv')
df_min.to_csv('bma_min_01102021.csv')