In [2]:
# importamos las librerias necesarias
import pandas as pd

In [3]:
# Cargamos el archivo csv a un dataframe
df=pd.read_csv('acciones_bma.csv')

In [4]:
# Ordenamos el dataframe segun la columna "Var." y guardamos las dos variaciones minimas
df_min=df.sort_values(by=['Var.']).head(2)
df_min

,Unnamed: 0,Nombre,Precio,Var.,Max.,Min.,Fecha
8,8,BA.SABADELL,"0,7256","-0,14","0,7434","0,7118",2021-09-30 22:57:58.358816
24,24,MAPFRE,"1,8850","-0,37","1,9140","1,8810",2021-09-30 22:57:58.420010

In [14]:
# Ordenamos el dataframe segun la columna "Var." y guardamos las dos variaciones maximas

df_max=df.sort_values(by=['Var.']).tail(2)

df_max

,Unnamed: 0,Nombre,Precio,Var.,Max.,Min.,Fecha
22,22,INDRA A,"9,2800","1,37","9,4500","9,2200",2021-09-30 22:57:58.410008
6,6,ARCELORMIT.,"26,4250","2,11","26,5500","26,0300",2021-09-30 22:57:58.348738

In [6]:
# Ya s√≥lo nos queda guardar los datos para usar en el futuro.
df_max.to_csv('bma_max.csv')
df_min.to_csv('bma_min.csv')