In [13]:
# importamos las librerias necesarias
import pandas as pd

In [14]:
# Cargamos el archivo csv a un dataframe
df=pd.read_csv('acciones_bma_01102021.csv')

In [15]:
# Ordenamos el dataframe segun la columna "Var." y guardamos las dos variaciones minimas
df_min_01102021=df.sort_values(by=['Var%']).head(2)
df_min_01102021

,Unnamed: 0,Nombre,Precio,Var%,Max,Min,Fecha
9,9,BANKINTER,"5,0520","-0,32","5,0520","4,9600",2021-10-01 20:39:26.968764
7,7,B.SANTANDER,"3,1235","-0,41","3,1410","3,0415",2021-10-01 20:39:26.958762

In [16]:
# Ordenamos el dataframe segun la columna "Var." y guardamos las dos variaciones maximas

df_max_01102021=df.sort_values(by=['Var%']).tail(2)

df_max_01102021

,Unnamed: 0,Nombre,Precio,Var%,Max,Min,Fecha
19,19,IAG,"2,1930","5,43","2,1930","1,9830",2021-10-01 20:39:27.033868
25,25,MELIA HOTELS,"6,8080","5,88","6,8080","6,2520",2021-10-01 20:39:27.065858

In [17]:
# Ya sólo nos queda guardar los datos para usar en el futuro.
df_max.to_csv('bma_max_01102021.csv')
df_min.to_csv('bma_min_01102021.csv')

NameError: name 'df_max' is not defined